---
- name: Accept xcodebuild license
  shell: xcodebuild -license accept
  ignore_errors: yes
  become: yes

- name: Install packages
  shell: brew install node restic gnu-tar inetutils the_silver_searcher zsh zsh-completions zsh-autosuggestions tmux mosh wget leiningen mas git-lfs rbenv bash go ruby rocket-chat

# - name: Install packages from source
#   shell: brew install --build-from-source vault

# - name: Install kubectl
#   shell: brew install --build-from-source kubectl && brew link --overwrite kubectl

- name: Install doctl
  shell: brew install doctl

- name: Add zsh to /etc/shells
  become: yes
  lineinfile:
    path: /etc/shells
    line: '/usr/local/bin/zsh'

- name: Change shell
  become_user: root
  command: "chsh -s /bin/zsh {{ lookup('env','USER') }}"

- name: Tap fonts
  homebrew_tap:
    name: homebrew/cask-fonts
    state: present

- name: Tap versions
  homebrew_tap:
    name: caskroom/versions
    state: absent

- name: Install emacs-plus
  shell: brew tap d12frosted/emacs-plus && brew install emacs-plus

- name: Link emacs-plus
  file:
    src: /opt/homebrew/opt/emacs-plus@27/Emacs.app
    dest: /Applications/Emacs.app
    state: link

- name: Install fira code
  shell: brew tap homebrew/cask-fonts && brew install --cask font-fira-code

- name: Install casks
  shell: brew install --cask displaycal viscosity jumpcut slack istat-menus caffeine discord hyper vagrant firefox papers amethyst battle-net sensiblesidebuttons dropbox nextcloud
  # shell: brew install --cask docker

- name: Install Java 8
  shell: brew tap AdoptOpenJDK/openjdk && brew install --cask adoptopenjdk/openjdk/adoptopenjdk8

- name: Install pip
  shell: easy_install pip
  become: yes

- name: Install trello
  shell: mas install 1278508951

- name: Copy hyper.js config
  template:
    src: hyper.js
    dest: ~/.hyper.js

- name: Fix key repeat in hyper
  shell: defaults write co.zeit.hyper ApplePressAndHoldEnabled -bool false

- name: Show status bar in Safari
  shell: defaults write com.apple.Safari ShowStatusBar -boolean true

- name: Show status bar in Finder
  shell: defaults write com.apple.finder ShowStatusBar -bool true
